*{
	padding:0;
	margin:0;
}
html,body{
	height:100%;
	width:100%;
	color:#000;
  background:#fff;
	font:15px Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
header.one{
  position:fixed;
  top:0;
  width:95%;
  height:56px;
  padding:0 2.5%;
  background:#fff;
  overflow:hidden;
  z-index:99;
}
.logo{
  display:inline-block;
  height:32px;
  width:88px;
  margin:12px 0;
  background:url(../images/icon_with_text.png) no-repeat;
	background-size:100% 100%;
}
header.two{
  position:fixed;
  top:56px;
  width:95%;
  height:30px;
  padding:0 2.5%;
  color:#fff;
  background:#0077d7;
  overflow:hidden;
  text-align:center;
  z-index:99;
}
a.two{
  line-height:30px;
  color:#fff;
  font-weight:normal;
}
.header{
  line-height:56px;
}
h1,h2,h3,h4,h5,h6{
  margin-top:24px;
  margin-bottom:16px;
  font-weight:600;
}
p{
  margin:0 0 10px;
}
a{
	color:#0077d7;
  font-weight:600;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
a.hash{
  text-decoration:none;
}
img{
  max-width:100%;
  height:auto;
}
article{
  max-width:720px;
  margin:78px auto 56px;
  padding:20px 10px;
  text-align:center;
}
footer{
  position:fixed;
  bottom:0;
  width:95%;
  height:56px;
  padding:0 2.5%;
  background:#f2f2f2;
  z-index:99;
}
.left{
  display:none;
}
.right{
  display:none;
}
@media screen and (min-width:275px) {
.left{
  display:inline;
  float:left;
}
.right{
  display:inline;
  float:right;
}