<!DOCTYPE html>
<html lang="en">
<head>
	<title>Doors - {{ page.title }}</title>
	<meta charset="utf-8">  
	<meta name="description" content="Doors" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css" />
	<link rel="icon" href="{{site.baseurl}}/favicon.ico">
	<link rel="apple-touch-icon" href="{{site.baseurl}}/apple-touch-icon.png"/>
	<meta name="msapplication-config" content="{{site.baseurl}}/ieconfig.xml" />
	<meta name="theme-color" content="#0078d7">
	<meta property="og:image" content="{{site.baseurl}}/preview.jpg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header class="one">
		<a href="{{site.baseurl}}/" class="logo"></a>
	</header>
	<header class="two">
    <a href="{{site.baseurl}}#features" class="two left">Features</a>
		<a href="https://github.com/doorsrom" class="two">Visit us on&nbsp;GitHub</a>
		<a href="https://t.me/doorsdev" class="two right">Telegram</a>
	</header>
  <article>
{{ content }}
  </article>
	<footer>
		<text class="header">Copyright 2018 Doors</text>
	</footer>
</body>
</html>